<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microservice-getproducts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0be16117-cc59-4569-8479-007b4054638a/resourceGroups/Microservices_Learning/providers/Microsoft.Web/sites/Microservice-GetProducts</ResourceId>
    <UserName>$Microservice-GetProducts</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://microservice-getproducts.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>